body {
    width: 75%;
    margin: 0 auto;
    color: #0d6efd ;
}
.search{
    position: relative;
    left: 390px;
}
.search-icone{
    position: relative;
    left: 158px;
    top: -29px;
}
h1 {
    text-align: center;
}
.input{
    width: 20%;
}
.fas {
    color:red; 
}