<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS only -->
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<link rel="stylesheet" href="../template/template.css">
	<title>ADD TODO</title>

</head>

<body style="width: 75%;">
	<h1 style="text-align: center;">ADD TODO</h1>
	<form>
		<div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="Todo title" aria-label="Recipient's username"
				aria-describedby="button-addon2">
			<button class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
		</div>

	</form>
	<hr>
	<div class="search">
		<input type="search" placeholder="filter by title">
		<div class="search-icone"><i class="fas fa-search"></i></div>
	</div>
	<div class="task">
		<div class="task-item d-flex justify-content-md-between p-2 border m-3 ">

			<h1>Task numero 1</h1>
			<button><i class="fas fa-trash-alt"></i>
			</button>
		</div>
		<div class="task-item d-flex justify-content-md-between p-2 border m-3">

			<h1>Task numero 2</h1>
			<button><i class="fas fa-trash-alt"></i>
			</button>
		</div>
		<div class="task-item d-flex justify-content-md-between p-2 border m-3 ">

			<h1>Task numero 3</h1>
			<button><i class="fas fa-trash-alt"></i>
			</button>
		</div>
	</div>



</body>

</html>