h1  {
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 3em;
    letter-spacing: 3px;
    color: rgb(255, 174, 0);
    text-transform: uppercase;
   }
h3 {
    color:rgba(255, 174, 0, 0.836);
}   
hr {
    border-top: 1px dashed rgb(255, 174, 0);
  }   
.first{
    width: 40%;
}  
.first-1{
    width: 25%;
}
.second {
    width: 65%
}    